<template>
  <div class="login">
    <h1>Connexion</h1>
    <div class="formulaire">
      <input id="email" type="email" name="email" placeholder="Email" />
      <input
        id="password"
        type="password"
        name="password"
        placeholder="MotDePasse"
      />
    </div>
  </div>
</template>

<script>
import { maxLength, minLength, required, email } from "@vuelidate/validators";
/*
		[VUE] Component
		Define properties and methods => https://bit.ly/3GdqmXg
	*/
export default {
  // [VUE] Component name
  name: "LoginComponent",

  /*
				[VUE] Computed => https://vuejs.org/guide/essentials/computed.html
				Used to define simple in-template expression, 
				the expression below bind values from Store getters
			*/
  computed: {},
  //

  /*
				[VUE] Data => https://bit.ly/3GdqmXg
				Used to inject data in the Vue.js component
			*/
  data() {
    return {
      email: "",
      password: "",
    };
  },

  validation() {
    return {
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(10),
      },
    };
  },

  //

  /*
				[VUE] Methods => https://bit.ly/3GdqmXg
				Used to add methods in Vue.js component
			*/
  methods: {},
  //
};
//
</script>
<style scoped lang="scss">
.formulaire {
  display: flex;
  flex-direction: column;
  padding: 100px 500px;
}
input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  &::placeholder {
    padding: 30px;
  }
}
</style>
