<template>
  <div class="register">
    <h1>Inscription</h1>
    <p>* Tous les champs sont requis</p>
    <div class="formulaire">
      <input id="name" name="name" placeholder="Nom" v-model="name" />
      <input
        id="firstname"
        name="firstname"
        placeholder="Prénom"
        v-model="firstname"
      />
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Email"
        v-model="email"
      />
      <input
        id="password"
        type="password"
        name="password"
        placeholder="MotDePasse"
        v-model="password"
      />
      <input
        id="confirmPassword"
        type="password"
        name="confirmPassWord"
        placeholder="ConfirmerMotDePasse"
      />
    </div>
    <ul>
      <h4>All users</h4>
      <li v-for="user in listUser" :key="user.id">
        {{ user.email }} - {{ user.name }}
      </li>
    </ul>
    <ul>
      <h4>Users with pair id</h4>
      <li v-for="user in listUserPairId" :key="user.id">
        {{ user.email }} - {{ user.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength,
  sameAs,
} from "@vuelidate/validators";

/*
		[VUE] Component
		Define properties and methods => https://bit.ly/3GdqmXg
	*/
export default {
  // [VUE] Component name
  name: "RegisterComponent",

  /*
				[VUE] Computed => https://vuejs.org/guide/essentials/computed.html
				Used to define simple in-template expression, 
				the expression below bind values from Store getters
			*/
  computed: {
    listUser() {
      return this.$store.getters.getUser;
    },
    listUserPairId() {
      return this.$store.getters.getUserPairId;
    },
  },
  //

  /*
				[VUE] Data => https://bit.ly/3GdqmXg
				Used to inject data in the Vue.js component
			*/
  data() {
    return {
      name: "",
      firstname: "",
      email: "",
      password: "",
    };
  },

  validation() {
    return {
      name: {
        required,
      },
      firstname: {
        required,
      },
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(10),
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs("password"),
      },
    };
  },
  //

  /*
				[VUE] Methods => https://bit.ly/3GdqmXg
				Used to add methods in Vue.js component
			*/
  methods: {},
  //
};
//
</script>
<style lang="scss" scoped>
.formulaire {
  display: flex;
  flex-direction: column;
  padding: 100px 500px;
}
input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  &::placeholder {
    padding: 10px;
  }
}
</style>
