<template>
  <router-view />
  <nav>
    <router-link to="/splashscreen">Acceuil</router-link> |
    <router-link to="/login">Login</router-link> |
    <router-link to="/register">Register</router-link>
  </nav>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #eeeeee;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #eeeeee;
}

nav a.router-link-exact-active {
  color: #00adb5;
}
</style>
