<template>
  <div class="loginView">
    <LoginComponent />
  </div>
</template>

<script>
/*
		[VUE] Component
		Define properties and methods => https://bit.ly/3GdqmXg
	*/
import LoginComponent from "@/components/LoginComponent.vue";
export default {
  // [VUE] Component name
  name: "LoginView",

  /*
				[VUE] Components => https://bit.ly/3GdqmXg
				Used to inject children components
			*/
  components: {
    LoginComponent,
  },
  //

  /*
				[VUE] Computed => https://vuejs.org/guide/essentials/computed.html
				Used to define simple in-template expression, 
				the expression below bind values from Store getters
			*/
  computed: {},
  //

  /*
				[VUE] Data => https://bit.ly/3GdqmXg
				Used to inject data in the Vue.js component
			*/
  data() {
    return {};
  },
  //

  /*
				[VUE] Methods => https://bit.ly/3GdqmXg
				Used to add methods in Vue.js component
			*/
  methods: {},
  //
};
//
</script>
<style scoped></style>
