<template>
  <div class="splash-screen">
    <img class="logo-insta" src="..\assets\Instagram_icon.png.webp" />
    <h1 class="titre-splash-screen">Projet Instagram Maxime Blachere</h1>
  </div>
</template>

<script>
/*
		[VUE] Component
		Define properties and methods => https://bit.ly/3GdqmXg
	*/
export default {
  // [VUE] Component name
  name: "SlashScreen",

  /*
				[VUE] Components => https://bit.ly/3GdqmXg
				Used to inject children components
			*/
  components: {},
  //

  /*
				[VUE] Computed => https://vuejs.org/guide/essentials/computed.html
				Used to define simple in-template expression, 
				the expression below bind values from Store getters
			*/
  computed: {},
  //

  /*
				[VUE] Data => https://bit.ly/3GdqmXg
				Used to inject data in the Vue.js component
			*/
  data() {
    return {};
  },
  //

  /*
				[VUE] Methods => https://bit.ly/3GdqmXg
				Used to add methods in Vue.js component
			*/
  methods: {},
  //
};
//
</script>
<style scoped>
.logo-insta {
  margin-top: 100px;
  height: 200px;
  width: 200px;
}
.titre-splash-screen {
  margin-top: 100px;
}
</style>
